:root {
  --main-text-color: #212121;
  --second-text-color: #757575;
  --text-buttom-color: #ffffff;
  --acent-color: #2196f3;
  --bgr-color-acent: #2f303a;
  --bgr-color:#E5E5E5;
  --bgr-second-color :#F5F4FA;
 
}
.link {
  text-decoration: none;
}
.list
{list-style: none; }

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;}

 p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
 }
 ul, ol{
margin: 0;
padding: 0;}

img {display: block;
  min-width: 100%;
  height: auto;}
  
.logo {
  color: var(--acent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  
}
 
.header{
  background-color: var(--text-buttom-color);
border-bottom: 1px solid #ECECEC;
}
.main-nav{
display: flex;
align-items: center;}

.header-nav{
  display: flex;
}

.header-list{
display: flex;
margin-left: 93px;}

/* .header-contact-list{
  display: flex;
} */

.header-list .header-item:not(:last-child){
  margin-right: 50px;
}
  
.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

 
}
.header-link:hover,
.header-link:focus {
  color: var(--acent-color);
}
.header-contact-list {
display: flex;
margin-left: auto;}

.header-contact-list .item + .item{
  margin-left: 50px; ;
}

.header-contact  {
 display: block;
 padding-top: 32px;
 padding-bottom: 32px;

 color:var(--second-text-color);
 font-weight: 500;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.02em;
 text-decoration: none;
 }

.header-contact:hover, .header-contact:focus{
  color: var(--acent-color);
 }


.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
 
  }

.hero{
   background-color:var(--bgr-color-acent);
   padding-top: 200px;
   padding-bottom: 200px;
  }
  .hero>.container{
    
    text-align: center;
  }
.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 696px;  

  font-size: 44px; 
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-buttom-color);
}
  .hero-button {
  min-width: 200px;
  height: 50px;
  padding: 11px 32px;

  border: transparent;
  font-family: "Roboto",sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-buttom-color);
  text-align: center;
  letter-spacing: 0.06em;
  background: var(--acent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

}
.peculiarities-list{
  display: flex;
  gap: 30px;
 
}
.peculiarities{
  padding-top: 94px;
 
}
.peculiarities-list h3 {
    margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  color:var(--main-text-color);
}
.peculiarities-item{

}
.peculiarities p {


  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.about-tittle,
.team-tittle {
  margin-bottom: 50px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  }

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
  .about-list{
    display: flex;
    gap: 30px;
}
.about-item{ 
  width: calc((100%-60)/3);
}

.team{
  background-color: var(--bgr-second-color);

  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list{
  display: flex;
}
.team-list .team-item + .team-item{
  margin-left: 30px;
}

.team-list  h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.team-item{
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;;
}
.team-item p {
  padding-bottom: 30px;

  text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}
.team-item h3{
  padding-top: 30px;
  margin-bottom: 10px;

  font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.footer {
  background-color: var(--bgr-color-acent);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  display: block;
 margin-bottom: 20px;
 
color: var(--acent-color);
font-family: Raleway;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;}


  .footer-item>a {
font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  }

 .footer-list:hover,.footer-list:focus{
  color: var(--acent-color);
 }
 .footer-item:nth-child(n+2) {
  margin-top: 9px;
 }

a[href=" https://goo.gl/maps/LfRihioMRKPNniMt5"]
{
  color: var(--text-buttom-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
a[href=" https://goo.gl/maps/LfRihioMRKPNniMt5"]:hover{
  color:var(--acent-color);
}
.portfolio-list{
  padding-top: 94px;
  padding-bottom: 94px;
}

.box {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-item:nth-child(n+2) {
  margin-left: 8px;
}

.portfolio-button {
  padding: 6px 22px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background: #F5F4FA;
  border: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--text-buttom-color);
  background-color: var(--acent-color);
  }

.text-container p {
   font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-text-color)
}

.text-container h2 {
  margin-bottom: 4px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.text-container{
flex-basis: calc((100%-60px)/3);
border-bottom: 1px solid #EEEEEE;
border-right:1px solid #EEEEEE ;
border-left: 1px solid #EEEEEE ;
padding: 20px 24px;
}
